
.MenuButton{
  position: relative;
  height: 44px;
  width: 80%;
  font-size: 2rem;
  
}

.CardContainer{
  display: flex;
  width: 100%;
  min-height: 60vh;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color:rgb(240, 240, 240) ;
  & .image-Text{
    height: 100%;
    width: 100%;
    
    
  }
  & button{
    display: none;
  }
  
  &-Item{
    width: 23%;
    height: 400px;
    border: solid 1px rgb(240, 240, 240) ;
    background-color: rgb(0, 0, 0);
    margin-bottom: 40px;
    margin-top: 40px;
    overflow: hidden;
    & .videos{
      display: none;
      width:100%;
      height:65%
    }
    &:hover{
      color:black ;
      box-shadow: 0 0 20px #eee;
      background-color: rgb(240, 240, 240) ;
      cursor: pointer;
      & img{
        transition: 1s;
        display: block;
        width: 110%;
        object-fit: cover;
        margin: auto;
      }
    }
    & img{
      width: 100%;
      object-fit: contain;
      height: 65%;
      border-bottom: thin rgb(255, 255, 255) solid;
    }
  }
}

.CardTitle{
  height: 15%;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1vh;
  
}

.CardContainerBIG{

  transition: 2s;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  min-height: 60vh;
  flex-direction: column;
  & button{
    display: block;
    position: relative;
    align-self: flex-end;
    border-radius: 100%;
    width: 44px;
    height: 44px;
  }
  & .videos{
    width: 100%;
    min-height: 50vh;
    height: 0%;
    
  }
  & img{
    display: none;
  }
  & .CardTitle{
    color: #eee;
  }
}

@media only screen and (max-width: 600px) {
  
  .CardContainer{
   
    &-Item{
      width: 48%;
      height: 300px;
    }
  }
  
  .CardTitle{
    height: 15%;
    font-size: 0.5rem;
    font-weight: 600;
    margin-top: 1vh;
  }
}