* {
  margin: 0;
  padding: 0;
  cursor: url(/src/images/click.png), pointer;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #CCCCCC;
}

*::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(90deg, black 0%, black 25%, transparent 100%, black 75%, transparent);
}

.App {
  text-align: center;
  max-width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav {
  z-index: 11;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  font-size: 2rem;
  border-bottom: thin solid #464646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(26, 26, 26, 0.9);
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 100%;
  background-color: #464646;
  color: #FAFAFA;
}

.nav__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  opacity: 0.5;
}

.nav__empty:hover {
  opacity: 1;
}

.nav__empty a {
  color: #FAFAFA;
  width: 10%;
}

.nav__empty i:hover {
  opacity: 1.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2.3rem;
  color: paleturquoise;
  cursor: pointer;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 100%;
  border-left: thin solid #464646;
  color: #FAFAFA;
}

.nav__menu:hover {
  color: red;
  border-bottom: thin solid white;
}

.nav__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 100%;
  border-left: thin solid #464646;
  color: #FAFAFA;
  font-size: 2rem;
  -webkit-transition: 2s;
  transition: 2s;
}

.nav__profile:hover .fa-user-astronaut {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: red;
  font-size: 3rem;
}

.aside {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 5%;
  height: 90%;
  border-right: thin solid #464646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #1a1a1a;
}

.aside:hover {
  border-right: thin solid white;
}

.aside:hover h2 {
  opacity: 1;
}

.aside--h2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #FAFAFA;
  padding: 15px;
  -webkit-transition: 1s;
  transition: 1s;
  width: 100px;
  z-index: 20;
  opacity: 0.5;
}

.aside--h2:hover {
  -webkit-transform: rotate(0deg) translateX(20px);
          transform: rotate(0deg) translateX(20px);
  opacity: 1;
  padding-left: 50px;
  padding-right: 0;
  border: thin solid #FAFAFA;
  background-color: #1A1A1A;
  float: right;
  -webkit-transition: 1s;
  transition: 1s;
  color: red;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
}
/*# sourceMappingURL=App.css.map */