* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.section2 {
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid thin #464646;
  margin-left: 5vw;
  height: 90vh;
}

.section2__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 90%;
  width: 93%;
}

.section2__heading__folder {
  width: 90%;
  height: 90%;
}

.section2__heading__folder__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 10%;
}

.section2__heading__folder__header--h1 {
  width: 100%;
  height: 80%;
  background-color: #FAFAFA;
  border-top-right-radius: 20px;
  border-top: #FAFAFA thin solid;
  color: #464646;
}

.section2__heading__folder__header--h1:hover {
  background-color: paleturquoise;
  height: 85%;
}

.section2__heading__folder__header--h1:nth-child(1) {
  height: 100%;
  color: paleturquoise;
  background-color: #272727;
  border-top-left-radius: 20px;
  border-left: #FAFAFA thin solid;
}

.section2__heading__folder__screen {
  background-color: #272727;
  height: 90%;
  width: 100%;
  border: #FAFAFA thin solid;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2__heading__folder__screen a {
  height: 100%;
  width: 100%;
}

.section2__heading__folder__screen--content1 {
  width: 90%;
  height: 90%;
  background: url(/src/images/questionPortfolio.png) no-repeat;
  background-position: center;
  background-size: contain;
  border: #FAFAFA thin solid;
}

.section2__heading__folder__screen--content2 {
  width: 90%;
  height: 90%;
  background: url(/src/images/resturant.png) no-repeat;
  background-position: center;
  background-size: contain;
  border: #FAFAFA thin solid;
}

.section2__heading__folder__screen--content3 {
  width: 90%;
  height: 90%;
  background: url(/src/images/shoppinglist.png);
  background-position: center;
  background-size: contain;
  border: #FAFAFA thin solid;
}

.section2__heading__folder__screen--content4 {
  width: 90%;
  height: 90%;
  background: url(/src/images/mountain.jpg);
  background-position: center;
  background-size: cover;
  border: #FAFAFA thin solid;
}

.section2__heading__para {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2__heading__para--underline {
  position: absolute;
  left: 1vw;
  text-align: left;
  border-bottom: solid thick paleturquoise;
  width: 30%;
}

.section2__heading__para--text {
  text-align: left;
  color: paleturquoise;
  position: relative;
  font-size: 5.4rem;
  text-shadow: #CCCCCC 20px;
  z-index: 9;
  width: 90%;
  height: 100%;
  cursor: pointer;
}
/*# sourceMappingURL=section2.css.map */